// out: false, compress: false, sourceMap: false, main: styles.less

@media (min-width: 768px) {

  
  header {
    margin: 0 auto;
    padding: 83px 0;
    background-position-x: center;
  
    .logo {
      margin-bottom: 85px;
    
      span {
        font-size: 14px;
      }
    }
  
    > h1 {
      font-size: 56px;
    }
  
    .sup-state {
      max-width: 615px;
      font-size: 15px;
    }
  
    form {
      margin: 68px auto 0;
      max-width: 380px;
      padding: 40px;
  
      legend {
        margin-bottom: 9px;
        font-size: 25px;
      }
  
      label {
        margin-top: 17px;
        font-size: 12px;
      }
  
      input {
        font-size: 16px;
        letter-spacing: 0.16px;
        padding-bottom: 9px;     
      }
  
      button {
        margin: 23px auto 0;
        padding: 14px 23px;
        font-size: 14.5px;
      }
    }
  }
  
  main {
    .more-info {
      padding: 60px 0 70px;
  
      .left-col {
        h1 {
          margin-bottom: 35px;
          font-size: 34px;
        }
  
        p {
          margin-top: 24px;
          padding-right: 30px;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        }
      }
  
      .right-col {
        padding-left: 10px;
  
        > div {
          padding: 8px 0 0 5px;
  
          h1 {
            margin-top: 27px;
            font-size: 20px;
            letter-spacing: 0.2px;
          }
    
          p {
            margin-top: 28px;
            font-size: 14px;
          }
        }
      }
    }
  
    .features {
      padding-top: 62px;
  
      > h1 {
        font-size: 33px;
      }
  
      > p {
        margin: 26px auto 0;
        max-width: 23%;
        letter-spacing: 0.14px;
        line-height: 24px;
      }
  
      .features-block {      
        max-width: 940px;
        margin: 67px auto 0;
        
        > img {
          align-self: flex-start;
        }
  
        .features-list {
          margin: 0 0 0 72px;
  
          .features-item {
            margin-bottom: 44px;
  
            .features-description {
              margin: 6px 0 0 32px;
  
              h1 {
                color: @title-color;
                font-size: 16px;
              }
  
              p {
                margin-top: 30px;
                font-size: 13px;
                letter-spacing: 0.66px;
                line-height: 24px;
              }
            }
          }
  
          .features-item:last-child {
            margin: 0;
          }
        }
      }
    }
  
    .screenshots {
      padding-top: 63px;
  
      ul {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  
    .faq {
      padding: 70px 0 40px;
  
      > h1 {
        font-size: 34px;
      }
  
      > p {
        margin-top: 30px;
        font-size: 13px;
      }
  
      .answer-list {
        flex-flow: row wrap;
        padding: 0;
        max-width: 960px;
        margin: 76px auto 0;
  
        .answer-item {
          padding-left: 10px;
          flex-basis: 50%;
  
          h1 {
            font-size: 20px;
          }
          
          p {
            padding-right: 40px;
            margin: 28px 0 25px;
            font-size: 14px;
            letter-spacing: 0.20px;
            line-height: 24px;
          }
        }
      }
    }
  }
  
  footer {
    p {
      margin: 55px auto;
      font-size: 13px;
      letter-spacing: 0.14px;
    }
  }
}

