// out: false, compress: false, sourceMap: false, main: styles.css

@media (max-width: 480px) {
  header {
    background-position-x: left;
    padding-top: 67px;
    max-height: 891px;

    .logo {
      margin: 0 auto 56px;
    }

    >h1 {
      font-size: 52px;
    }

    .sup-state {
      font-size: 14px;
    }

    form {
      width: 71%;
      margin-top: 67px;
      height: 374px;

      fieldset {
        legend {
          font-size: 22px;
          margin-bottom: 2px;
        }

        label {
          padding: 0;
          font-size: 11px;
          margin-top: 23px;

          input {
            font-size: 14px;
            letter-spacing: normal;
            padding-bottom: 4px;
          }
        }

        button {
          margin-top: 23px;
          max-width: 192px;
          max-height: 39px;
          font-size: 13px;
          padding: 13px 25px;
        }
      }
    }
  }
  
  main {
    .more-info {
      flex-flow: column wrap;
      padding: 46px 0 55px;

      .left-col {
        display: flex;
        flex-flow: column;
        padding-left: 20px;

        > h1 {
          max-width: 94%;
          font-size: 30px;
          margin-bottom: 0;
        }

        > p {
          width: 97%;
          font-size: 12px;
          margin-top: 26px;
          line-height: 23px;
        }
      }

      .right-col {
        padding: 0;
        flex-flow: column wrap;

        > div {
          display: flex;
          flex-direction: column;
          margin-top: 27px;
          padding: 0;

          img {
            align-self: center;
          }

          h1, p {
            padding-left: 20px;
          }

          h1 {
            font-size: 18px;
          }
        }
      }
    }
    
    .features {
      padding-top: 41px;

      h1 {
        font-size: 30px;
      }

      p {
        font-size: 13px;
        margin-top: 27px;
        max-width: 86%;
        letter-spacing: normal;
        text-align: center;
        line-height: 23px;
      }

      .features-block {
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: center;

        .features-list {
          margin: 29px 0 0 0;
          width: 92%;

          .features-item {
            margin-bottom: 37px;

            .features-description {
              margin: 8px 0 0 14px;

              h1 {
                font-size: 15px;
              }
    
              p {
                font-size: 13px;
                margin-top: 29px;
                max-width: 362px;
                letter-spacing: normal;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  
    .screenshots {
      padding-top: 51px;

      ul {
        grid-template-columns: repeat(2, 1fr);

        > li {
          display: flex;
        }
      }
    }

    .faq {
      padding-top: 48px;

      h1 {
        font-size: 31px;
      }

      p {
        margin-top: 27px;
        font-size: 13px;
      }

      .answer-list {
        margin: 47px 10px 0 20px;
        padding-bottom: 15px;
        display: flex;
        flex-flow: column;
        max-height: 490px;

        .answer-item {
          max-height: auto;
          h1{
            font-size: 18px;
          }

          p {
            max-width: 415px;
            margin: 25px 0 34px;
            line-height: 22px;
            letter-spacing: normal;
            font-size: 13px;
          }
        }
      }
    }
  }

  footer {
    p {
      margin: 31px auto;
      font-size: 13px;
    }
  }
}







