*html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* body {
  font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
header {
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  margin: 0 auto;
  padding-top: 90px;
}
header .logo {
  height: 36px;
  margin: 0 auto 90px auto;
  text-align: center;
  color: #ffffff;
}
header .logo > h1 {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 4px;
}
header .logo svg {
  fill: #ffffff;
}
header .logo span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
}
header > h1 {
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  letter-spacing: -0.56px;
}
header .sup-state {
  width: 615px;
  height: 41px;
  opacity: 0.7;
  margin: 23px auto;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
header form {
  width: 380px;
  height: 393px;
  margin: 69px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #f6f6f6;
  color: #000000;
}
header form fieldset {
  border: none;
  padding: 0;
}
header form legend {
  opacity: 0.87;
  padding: 41px 0 8px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
header form p {
  margin: 23px 41px;
  display: flex;
  flex-direction: column;
}
header form p label {
  width: 64px;
  height: 10px;
  opacity: 0.49;
  color: #2a2d2e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24.02px;
  text-align: left;
  letter-spacing: 0.12px;
}
header form p input {
  width: 100%;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.16px;
  border: none;
  border-bottom: 1px solid #8c8d8e;
  background-color: #f6f6f6;
  opacity: 0.87;
  padding: 0 0 11px 0;
  outline: none;
}
header form p button {
  width: 216px;
  height: 42px;
  margin: 0 auto;
  background-color: #9c27b0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
main {
  background-color: #ffffff;
}
main .more-info {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 60px 0 70px 0;
}
main .more-info .left-col {
  flex: 1;
}
main .more-info .left-col h1 {
  width: 388px;
  height: 67px;
  opacity: 0.87;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
main .more-info .left-col p {
  width: 420px;
  opacity: 0.87;
  margin-top: 45px;
  color: #2a2d2e;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.14px;
}
main .more-info .right-col {
  flex: 1;
  display: flex;
  padding-left: 10px;
}
main .more-info .right-col > div {
  margin-right: 20px;
}
main .more-info .right-col h1 {
  opacity: 0.87;
  margin-top: 31px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.2px;
}
main .more-info .right-col p {
  opacity: 0.87;
  margin-top: 36px;
  color: #2a2d2e;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 26px;
}
main .features {
  background-color: #fafafa;
  padding-top: 71px;
  color: #2a2d2e;
}
main .features > h1 {
  height: 25px;
  opacity: 0.84;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}
main .features > p {
  width: 354px;
  margin: 36px auto 0 auto;
  opacity: 0.87;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 24px;
}
main .features .features-block {
  width: 914px;
  margin: 70px auto 0 auto;
  display: flex;
}
main .features .features-block > img {
  width: 428px;
  height: 383px;
  margin: 0 auto;
}
main .features .features-block .features-list {
  margin: 0 0 0 72px;
}
main .features .features-block .features-list img {
  width: 27px;
  height: 39px;
}
main .features .features-block .features-list .features-item {
  display: flex;
  margin-bottom: 46px;
}
main .features .features-block .features-list .features-item .features-description {
  margin: 10px 0 0 33px;
}
main .features .features-block .features-list .features-item .features-description h1 {
  width: 127px;
  height: 14px;
  color: #2a2d2e;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
main .features .features-block .features-list .features-item .features-description p {
  width: 355px;
  height: 38px;
  opacity: 0.87;
  margin-top: 36px;
  color: #2a2d2e;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.16px;
  line-height: 20px;
}
main .features .features-block .features-list .features-item:last-child {
  margin: 0;
}
main .screenshots {
  background-color: #fafafa;
  padding-top: 69px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
main .screenshots > img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .screenshots .screenshots-image1 {
  background-image: url(../img/screenshots_image1.png);
}
main .screenshots .screenshots-image2 {
  background-image: url(../img/screenshots_image2.png);
}
main .screenshots .screenshots-image3 {
  background-image: url(../img/screenshots_image3.png);
}
main .screenshots .screenshots-image4 {
  background-image: url(../img/screenshots_image4.png);
}
main .faq {
  background-color: #fafafa;
  padding-top: 70px;
}
main .faq > h1 {
  height: 33px;
  opacity: 0.87;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}
main .faq > p {
  height: 14px;
  margin-top: 30px;
  opacity: 0.87;
  color: #2a2d2e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
main .faq .answer-list {
  padding: 0;
  width: 960px;
  height: 305px;
  margin: 76px auto 0 auto;
  display: flex;
  flex-flow: column wrap;
}
main .faq .answer-list .answer-item {
  width: 480px;
}
main .faq .answer-list .answer-item h1 {
  height: 17px;
  opacity: 0.87;
  font-size: 20px;
  font-weight: 500;
}
main .faq .answer-list .answer-item p {
  width: 413px;
  margin: 32px 0 53px 0;
  opacity: 0.87;
  color: #2a2d2e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 24px;
}
footer p {
  margin: 55px auto;
  text-align: center;
}
@media (max-width: 480px) {
  header {
    background-position-x: left;
    padding-top: 65px;
  }
  header .logo {
    margin: 0 auto 60px auto;
  }
  header > h1 {
    font-size: 52px;
  }
  header .sup-state {
    width: auto;
  }
  header form {
    width: 82%;
  }
  main .more-info {
    flex-wrap: wrap;
    padding: 60px 0 55px 20px;
  }
  main .more-info .left-col {
    display: flex;
    flex-flow: column;
  }
  main .more-info .left-col > p {
    width: 97%;
    font-size: 13px;
  }
  main .more-info .right-col {
    padding: 0;
    flex-flow: column wrap;
  }
  main .more-info .right-col > div {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }
  main .more-info .right-col > div > img {
    align-self: center;
  }
  main .features .features-block {
    width: auto;
    flex-wrap: wrap;
  }
  main .features .features-block > img {
    align-self: center;
    width: 88%;
  }
  main .features .features-block .features-list {
    margin: 30px 0 0 20px;
  }
  main .features .features-block .features-list .features-item .features-description h1 {
    width: auto;
  }
  main .features .features-block .features-list .features-item .features-description p {
    font-size: 12px;
    width: 86%;
  }
  main .screenshots {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  main .faq .answer-list {
    width: auto;
    height: auto;
    margin: 40px 10px 0 20px;
  }
  main .faq .answer-list .answer-item {
    width: auto;
  }
  main .faq .answer-list .answer-item p {
    width: auto;
    letter-spacing: normal;
    font-size: 13px;
  }
}
